<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>{{user.email}}Your Room Booked</h1>
    <h2>---------------Details---------------------------</h2>
<h3>room_number:{{bookingdetails.room_number}}</h3>
    <h3>day_1_price:{{bookingdetails.day_1_price}}</h3>
    <h3>ratting:{{bookingdetails.ratting}}</h3>
    <h3>capacity:{{bookingdetails.capacity}}</h3>
    <h3>ragister date:{{bookingdetails.created_at}}</h3>
</body>
</html>